# Pandas Series

A Series is a one-dimensional labeled array capable of holding any data type. The axis labels are collectively called the index.

In [42]:
import pandas as pd

In [43]:
s=pd.Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [44]:
# 2. Create a Series with Custom Index

s=[10,20,30,40,50]
Index=['a','b','c','d','e']
series=pd.Series(s,index=Index)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [45]:
# 3. Access Elements in a Series
print(series['c'])
print(series[1:4])

30
b    20
c    30
d    40
dtype: int64

In [46]:
# Apply Operations on a Series
print("Sum:", series.sum())
print("Mean:", series.mean())
print("Max:", series.max())

Sum: 150
Mean: 30.0
Max: 50

In [47]:
# Create Series from a Dictionary
data={'x':100,'y':200,'z':300}
series_dict=pd.Series(data)
print(series_dict)

x    100
y    200
z    300
dtype: int64

In [48]:
# 6. Filter Series Based on Condition
filter_series=series[series>25]
print(filter_series)

c    30
d    40
e    50
dtype: int64

## Creating Series
There are multiple ways to create a pandas Series:

In [49]:
# <!-- from a Dictionary -->
import pandas as pd

data = {'Math': 85, 'Science': 90, 'English': 78}
s = pd.Series(data)
print(s)

Math       85
Science    90
English    78
dtype: int64

In [52]:
# // From a NumPy Array

import pandas as pd
import numpy as np

arr = np.array([10, 20, 30, 40])
s = pd.Series(arr)
print(s)

0    10
1    20
2    30
3    40
dtype: int64